@{
    ViewBag.Title = "¿Quiénes somos?";
}

<div class="row inicio">
    <div class="col-md-5 text-justify">
        <h2>@ViewBag.Title</h2>
        <p>
            <span style="font-weight:bold;">Clinica Alejandria, </span>
            es una institución privada especializada en servicios de cuidado y atencion en maternidad y patologías clínico-quirúrgicas prevalentes.
        </p>
        <p>Ofrecemos distintos servicios, consultas generales, estudios, con equipos de última tecnología especializados para obtener un mejor diagnostico para nuestros pacientes.</p>
    </div>
    <div class="col-md-7">
        <img src="~/fonts/QuienesSomos.jpg" style="width:100%; height:100%;" alt="¿Quiénes somos?" />
    </div>
</div>
