@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Somos un centro asistencial privado, que presta servicios de cuidado y atención en maternidad y patologías clínico-quirúrgicas prevalentes.</p>
