@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Diego Nicolás Parasiliti<br />
    Av. 9 de Julio 2409, CABA, Provincia de Bs. As.<br />
    <abbr title="Celular">Cel:</abbr>
    (011) 15 66234589
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soporte@diegoparasiliti.com">soporte@diegoparasiliti.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@diegoparasiliti.com">marketing@diegoparasiliti.com</a>
</address>