@model IEnumerable<MCGA.Entities.TipoSexo>

@{
    ViewBag.Title = "Tipo de sexo";
}
<div class="row">
    <div class="col-12">
        <h2>
            Tipo de sexo
            <a class="btn btn-sm btn-primary float-right mt-2" href="/TipoSexo/Create">Agregar</a>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-light">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Descripción
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            <div class="float-right">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                            </div>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>