
@{
    /**/

    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo <small>turno</small> </h2>
<hr class="hrSinMarginTop" />

<div class="form-horizontal content-personalizado">
    <div id="calendar"></div>
</div>




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap4',
                locale: 'es',
                defaultView: 'agendaWeek',
                allDaySlot: false,
                minTime: "07:00:00",
                maxTime: "21:00:00",
                slotDuration: "01:00:00",
                nowIndicator: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '@Url.Action("GetCalendarData", "Turno")',
                        type: "GET",
                        dataType: "JSON",
                        success: function (result) {
                            var events = [];
                            $.each(result, function (i, data) {
                                events.push(
                                    {
                                        title: data.Title,
                                        description: data.Desc,
                                        start: moment(data.Start_Date).format('YYYY-MM-DD HH:mm'),
                                        end: moment(data.End_Date).format('YYYY-MM-DD HH:mm'),
                                        backgroundColor: "#28a745", //#dc3545 para ocupado
                                        borderColor: "#28a745", //#dc3545 para ocupado
                                        textColor:"#ffffff"
                                    });
                                });
                            callback(events);
                        }
                    });
                }
            });
        });
        </script>
    }
